{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="pt-br" {% endblock %}

{% block title %} Welcome to Barcode {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
{% endblock %}

{% block content %}
<body class="">
    <form class="form-signin" action="" method="POST" enctype="multipart/form-data" id="barcodeform">
        {{ form.hidden_tag() }}

        <div class="text-center">
            <img class="mb-4" src="{{url_for('static', filename='img/favicon.ico')}}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Gerador de código</h1>
        </div>
        
        <br>
        {{ form.file.label }}
        {{ form.file(class="custom-file-input") }}
        
        {% for error in form.file.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <br>
        {{ form.codetype.label }}
        {{ form.codetype(class="form-control custom-select") }}
        
        {% for error in form.codetype.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        <br>
        {{ form.includetext.label }}
        {{ form.includetext(class="form-control custom-select") }}

        {% for error in form.includetext.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        <hr>
        {{ form.submit(class="btn btn-lg btn-primary btn-block", onsubmit="submit()") }}
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2020</p>
    </form>
</body>
{% endblock %}
